.admin-header {
    width: 100%;
    padding: 20px 0px;
    background: var(--primary-color);
}

.admin-nav-top {
    width: 100%;
}

.admin-nav-wrapper-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
}

.admin-nav-top-right img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
}

.admin-nav-top-right {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.admin-nav-wrapper-top .search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-nav-top-right {
    color: whitesmoke;
}

.admin-nav-top-right span i {
    color: whitesmoke;
    cursor: pointer;
}

.admin-nav-wrapper-top .logo h2 {
    font-size: 1.2rem;
    color: whitesmoke;
}

.admin-menu {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: var(--card-bg-02);
}

.admin-navigation {
    text-align: center;
}

.admin-menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2.7rem;
}

.admin-menu-list .admin-menu-item a {
    color: var(--primary-color);
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
}

.active-admin-menu {
    background: whitesmoke;
}