.footer {
    padding-top: 60px;
    padding-bottom: 30px;
    background: var(--primary-color);
}

.footer-text {
    line-height: 30px;
    color: rgba(255,255,255,0.735);
}

.footer-quick-links ul li {
    background: transparent !important;
}

.footer-quick-links ul li a {
    color: rgba(255,255,255,0.735);
}

.quick-links-title {
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.1rem;
}

.footer-contact li span,
.footer-contact li p {
    color: rgba(255,255,255,0.735);
}

.footer-contact li span {
    font-size: 1.2rem;
}

.footer-contact li p {
    font-size: 0.9rem;
}

.footer-copyright {
    color: rgba(255,255,255,0.735);
    font-size: 0.9rem;
    margin-top: 50px;
    text-align: center;
}